<div class="col-md-4">
  <h2><%= article[:title] %></h2>
  <p>
    <%= image_tag(article.authenticated_image_url(:thumb)) if article.image.present? %>
  </p>
  <p>
    <%= link_to 'Show', article, { class: 'btn btn-info btn-sm', style: 'color:white' } %>
    <%= link_to 'Edit', edit_article_path(article), { class: 'btn btn-success btn-sm', style: 'color:white' } %>
    <%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm', style: 'color:white' %>
  </p>
</div>